---
BasedOnStyle: WebKit
IndentWidth: 4
---
Language: Cpp
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 90
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentWrappedFunctionNames: true
PointerAlignment: Right
ReflowComments: false
SortIncludes: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceAfterControlStatementKeyword: true
BreakBeforeBraces: Attach
---
